!!! 5
html(lang='en')

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title buck-spark-redis template
  link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', type='text/css', href='/css/main.css')
  script(src='/js/lib/jquery-2.1.1.min.js')
  script(src='/js/lib/jquery-ui.min.js')
  script(src='/js/lib/bootstrap.min.js')
  script(src='/gen/js/home.js')

body
  .container
    block content
